.rating {
  display: inline-block;

  input {
    display: none;
  }

  label {
    float: right;
    cursor: pointer;
    color: var(--color-gray);
    transition: color 0.3s;
    width: 20px;

    &::before {
      content: '\2B24';
      font-size: 20px;
    }
  }

  input:checked~label,
  label:hover,
  label:hover~label {
    color: var(--color-accent);
    transition: color 0.3s;
  }

  &--block {
    label {
      color: var(--color-black);
      &::before {
        content: '\25A2';
        font-size: 20px;
      }
    }
  }
  &--x {
    label {
      color: transparent;
      &::before {
        content: '\2716';
        font-size: 20px;
      }
    }
  }
}