.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: var(--color-gray);
  transition: color 0.3s;
	width: 20px;
}

.rating label:before {
  content: '\2738';
  font-size: 20px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: var(--color-accent);
  transition: color 0.3s;
}
