.sheet-3colrow {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;

	&--gap100 {
		gap: 100px;
	}
}

.sheet-col {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
	font-size: 16px;
	font-family: var(--font-family-content);
}

.col-group {
	display: flex;
	align-items: center;

	&--input-line {
		input {
			all: unset;
			background-color: rgba(255, 255, 255, 0.1);
			border-bottom: 2px solid #00000060;
			font-size: 14px;
		}

	}

	label {
		width: 90px;
	}

	h4 {
		width: 160px;
	}

	&--width90 {
		h4 {
			width: 90px;
		}
	}
}