.sheet-3colrow {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;

	&--gap100 {
		gap: 100px;
	}
}

.sheet-col {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
	font-size: 16px;
	font-family: var(--font-family-content);
}

.col-group {
	display: flex;
	align-items: center;

	label {
		width: 90px;
	}

	h4 {
		width: 160px;
	}

	&--width90 {
		h4 {
			width: 90px;
		}
	}
}