:root {
  --font-family-base: 'Lato', sans-serif;
  --font-family-content: 'GoudyBookletter1911', sans-serif;
  --font-family-title: 'PTSerif', sans-serif;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #cccccc;
  --color-accent: #B18AFF;
  --color-accent200: rgba(177, 138, 255, 0.2);
  --color-accent500: rgba(177, 138, 255, 0.5);
  --color-back-btn-active: var(--color-accent500);
  --color-borer-btn-active: var(--color-accent200);
  --color-shadow-btn-active: var(--color-accent);
  --color-back-btn-inactive: var(--color-accent500);
  --color-border-btn-inactive: var(--color-accent);
  --color-back-btn-fill: var(--color-accent200);
  --color-border-btn-fill: var(--color-accent500);
  --container-width: 1240px;
  --container-padding-x: 20px;
}